<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Chatkit.plist
   Chatkit Quickstart

   Created by Zan Markan on 03/10/2019.
   Copyright (c) 2019 Pusher. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>ChatkitInstanceLocator</key>
        <string>YOUR_INSTANCE_LOCATOR</string>
        <key>ChatkitTokenProviderEndpoint</key>
        <string>YOUR_TOKEN_PROVIDER_ENDPOINT</string>
        <key>ChatkitRoomId</key>
        <string>alice_and_bob</string>
        <key>ChatkitUserId</key>
        <string>pusher-quick-start-alice</string>
    </dict>
</plist>
