<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
    <dict>
        <key>ChatkitInstanceLocator</key>
        <string>YOUR_INSTANCE_LOCATOR</string>
        <key>ChatkitTokenProviderEndpoint</key>
        <string>https://YOUR_CLUSTER.pusherplatform.io/services/chatkit_token_provider/v1/YOUR_INSTANCE_ID/token</string>
        <key>ChatkitRoomId</key>
        <string>alice_and_bob</string>
        <key>ChatkitUserId</key>
        <string>pusher-quick-start-alice</string>
    </dict>
</plist>
